@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Open+Sans:400,600');

body {
  background-color: #DA5D55;

}

label {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  width: 60%;
  text-align: center;
  color: white;
  padding: 60px 0 20px 0;

}

input:not([type=image]) {
  display: inline-block;
  border: 2px solid white;
  background: transparent;
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 24px;
  line-height: 1.5rem;
  text-align: center;
}

input:focus {
    outline:none;
}

input[type=image] {
  display: inline-block;
  width: 60px;
  border: none;
  background: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: top;
  padding-top: 12px;
}

ul {
  width: 70%;
  margin: 0 auto;
  padding: 34px 0 0 10%;
  color: white;
  font-family: 'Droid Serif', serif;
  list-style: url('empty_box.svg');
  list-style-position: inside;
}

li:hover {
  list-style-image: url('filled_box.svg')
}

li {
  font-size: 26px;
  text-align: left;
  // list-style-image: url('empty_box.svg');
  padding: 0 0 12px 0;
}

#list-title {
  padding: 40px 0 30px 0;
  text-align: center;
}

.text-field {
  text-align: center;
}

#myForm {

}

#listed-items {

}

#copy {

}